h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
  
  /* Estilos para el formulario */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="button"] {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #3E8E41;
  }
  
  /* Estilos para el resultado */
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
  }
  
  #resultado {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }